$COLOR_TEXT_1: #152242;
$COLOR_TEXT_2: #ff1f34;
$COLOR_SHADOW_1: #83b4ff;
$COLOR_SHADOW_2: #fff;
$COLOR_BTN1: #fff;
$COLOR_BTN2: #0468ff;
$COLOR_BTN3: #0661ec;
$COLOR_BTN4: #ced1d7;
$COLOR_BTN5: #f1f2f4;


//
$SCREEN_MIN_THRESHOLDS: (
        "desktop": 1526px,
        "desktop_sm": 1280px,
        "tablet": 992px,
        "tablet_sm": 768px,
        "mobile_lg": 480px,
);
