@import '@/styles/mixins';
@import '@/styles/constants';

.wrapper {
  display: flex;
  padding: 20px;
  width: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #3f948a;
  text-transform: uppercase;
  @include maxTabletSm {
    text-align: center;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 105px;
  height: 105px;
  margin-bottom: 50px;
}

.data {
  position: relative;
  margin: 60px 0 30px;
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 0;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: hidden;
}


//.variantsWrapper {
//  z-index: 0;
//  transform: translateY(0);
//}

.variantItem {
  padding: 0 20px;
  line-height: 35px;
}

.bgOpacity {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 51%, #ffffff 100%);;
}

.resultVariantWrapper {
  box-sizing: border-box;
  z-index: 50;
  padding: 0 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  width: 100%;
  border: 0.5px solid #2b5876;
}

.resultVariant {
  font-style: italic;
}

.bonus {
  font-style: normal;
  font-weight: bold;
  color: $COLOR_TEXT_2;
}

.btn {
  z-index: 99;
  margin-top: 50px;
}


//LOADER


.loader {
  animation: spin 1s infinite linear;
  border-radius: 50%;
  border: 3px solid #09f;
  border-left-color: transparent;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  z-index: 1;

  &:before {
    animation: spin 2s infinite linear;
    border: solid 3px transparent;
    border-radius: 50%;
    border-right-color: #3cf;
    border-top-color: #3cf;
    box-sizing: border-box;
    content: "";
    height: 30px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 30px;
  }

  &:after {
    animation: spin 3s infinite linear;
    border: solid 3px transparent;
    border-radius: 50%;
    border-right-color: #6ff;
    border-top-color: #6ff;
    box-sizing: border-box;
    content: "";
    height: 20px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 20px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}