@import '@/styles/mixins';
@import '@/styles/constants';

.wrapper {
  display: flex;
  padding: 60px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
}