@import '@/styles/mixins';
@import '@/styles/constants';

.wrapper {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #3f948a;
  text-transform: uppercase;
}